* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: #C9D1E3;
    
}

.menu {
    width: 220px;
    margin: 0 auto;
    padding-top: 40vh;
    list-style: none;
}

.menu a {
    display: block;
    padding: 13px 0px 11px 38px;
}

/* .menu li:hover {
    background-color: #111920;
} */
.menu a:hover {
    background-color: #111920;
}

ul > li {
    background-color: #373C48;
    border-bottom: 1px solid #202328;
    border-left: 1px solid #202328;
    border-right: 1px solid #202328;
    font-size: 15px;
}

.menu_top {
    border: 1px solid #202328;
    border-radius: 10px 10px 0px 0px ;
}

.menu_messages > .submenu {
    
}

.menu_bottom {
    border-radius: 0px 0px 10px 10px ;
}

.menu .submenu {
    position: relative;
    list-style: none;
    background-color: #212930;
    border: 1px solid black;
    z-index: 10;
    padding: 0px;
    display: none;

}

.menu > li:focus-within .submenu {
    display: block
}

.submenu li {
    border: none;
    font-size: 12px;
}

.submenu li a {
    color: #778EA1;
    background-color: #212930;
}